# dependencies
/node_modules

# production build
/build
/dist

# misc
.DS_Store
.env*
.pnp
.pnp.js

# testing
/coverage

# IDEs and editors
.vscode/
.idea/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
